@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,200;1,300&family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    padding: 0 20px;

}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.logo{
    font-size: 25px;
}
.logo span{
    color: red;
    font-size: 20px;
}
.btns{
    
}
.input{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 5px;

}
.input:hover{
    border: none;
    box-shadow: 1px 0.5px;
}

.btn{
    padding: 8px 5px;
    background-color: rgb(240, 14, 14);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 5px;

}
.home{
    height: 100vh;
    width: 50%;
    background-image:url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    
}
.center{
    
    padding-top: 50%;
    margin-left: 25%;
}
.center h1{
    color: white;

}
.center p{
    color: beige;
    font-size: 16px;
    margin-top: 10px;
}
.center button{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    cursor: pointer;

}
.btn1{
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 600;
    margin-left: 10px;
}
.btn1:hover{
    background-color: red;
    transition: 0.5s;
    transform: scale(x , 0.5s);
}
.right-part{
    background-color: rgb(224, 113, 113);
    margin-left: 50%;
    width: 50%;
    height: 100vh;
    top:0;
    position: absolute;

}
.right-part h1{
    margin-top: 40%;
    margin-left: 20%;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;

}
.right-part p{
    color: white;
    font-size: 18px;
    margin-left: 20%;
}
.right-part button{
    background-color: white;
    color: red;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
    margin-left: 20%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
  








.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
form .btn{
margin: 30px 0;
height: 45px;
width: 100%;
position: relative;
overflow: hidden;
}
form .btn .inner{
height: 100%;
width: 300%;
position: absolute;
left: -100%;
z-index: -1;
background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
transition: all 0.4s;
}
form .btn:hover .inner{
left: 0;
}
form .btn button{
height: 100%;
width: 100%;
background: none;
border: none;
color: #fff;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
}
form .signup-link{
text-align: center;
}
form .signup-link a{
color: #3498db;
text-decoration: none;
}
form .signup-link a:hover{
text-decoration: underline;
}